/CreditFeeCalculator/nbproject/private/
/CreditFeeCalculator/build/
/TurnoVirtual/nbproject/private/
/TurnoVirtual/build/
/TarjetaCine/nbproject/private/
/TarjetaCine/build/
/reporte/nbproject/private/
/reporte/build/
/Convertidor/nbproject/private/
/Convertidor/build/
/Admisiones/nbproject/private/
/Admisiones/build/